.ReservaRutas{
    width: 55vw;
    padding: 2%;
    box-shadow: 0px 0px 5px black;
    border-radius: 20px;
}
#cantidad-personas{
    width: 50%;
    margin: 0 2%;
}
.AlinearIzquierda{
    text-align: left;
}
.AlinearIzquierda input{
    margin-right: 3% !important;
}
.Senderismo{
    color: black;
}
.Espeleismo{
    color: rgb(65, 82, 240);
}
.Avistamiento{
color: rgb(235, 122, 29);
}
.Camping{
color: rgb(192, 178, 50);
}
.Patrimonio{
    color: rgb(160, 160, 160);
}
.Pesca{
color: rgb(157, 129, 223);
}
.Torrentismo{
color: rgb(65, 240, 88);
}