body{
    overflow-x: hidden; /* Para ocultar la barra de desplazamiento horizontal */
  
}
.contenidos{
    left: 0;
    width: 100%;
}

.fondo-baner{
    width: 100%;
    background-image: url("../../img/BackgroundBaner.png");
    background-size: 100% 200px;
    background-repeat: no-repeat;
    padding-left: 3%;
}
.image-baner{
    width: 30vw;
}
.culaquiercosa{
    background-color: rgba(190, 186, 252, 0.781);
    border: 2px solid red;
    color:rgb(48, 48, 243);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    color:#f1ba66
}
.otro{
    display: block;
    background-color: #333333c5;
    background-color: rgb(117, 150, 98);
}
.img-home:hover span{
    color: greenyellow;
    transform: scale(1.1);

}
.img-home:hover a{
    text-decoration: none;
}
.img-home a{
    text-decoration: none;
    color: white;
}
.img-home{
    border-radius: 10%;
    width: 15vw;
    height: 10vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    color:white;
    font-size: 2vw;
    cursor: pointer;

}
.espacio{
    color: #ff000000;
}
.planes1{
    background-image: url("../../img/planes1.jpeg");    
}
.planes2{
    background-image: url("../../img/planes2.jpg");
    
}
.planes3{
    background-image: url("../../img/planes2.jpg");
    
}
.hoteles1{
    background-image: url("../../img/hoteles1.jpg");
}
.hoteles2{
    background-image: url("../../img/hoteles2.jpg");
}
.hoteles3{
    background-image: url("../../img/hoteles3.jpg");
}
.sinLinea{
    text-decoration: none;
    color: black;
    font-size: clamp(1em, 2.3vw, 9999vw) ; 
}
.sinLinea:hover {
    text-decoration: none; /* Agrega el subrayado al pasar el cursor */
    font-weight: bold;
    color: green;
  }
  .rower a{
    font-size: clamp(0.5em, 2.8vw, 9999vw) !important; ;  
  }
  .rower table a, .rower table span {
    font-size: clamp(0.5em, 2.0vw, 9999vw) !important; 
  } 
  
  .rower{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    flex-wrap: wrap;
  }

  .vistaMovile a{
    font-size: clamp(0.5em, 7vw, 9999vw) !important; ;  
  }
  .vistaMovile table span{
    font-size: clamp(0.5em, 5vw, 9999vw) !important; 
    background-color: rgba(54, 88, 2, 0.733);
  } 
 
  .vistaMovile table td{
    width: 100vw !important; 
    height: 45vw !important; 
    border-radius: 20px;

  }
  .vistaMovile table{
    width: 80%;
  }
  .vistaMovile .espacio{
    height: 1vh !important;
  }
  
 