.fotoPueblo{
    width: 70%;
    margin: auto;
}

.tableInfo div:nth-child(1){
    width: 60%;
    padding-right: 3%;
}
.tableInfo li{
    margin: 9% 0;
}
.tableInfo li:nth-child(1){
    margin-top: 0;
}
.mapa{
    width: 100%;
    min-width: 300px;
    min-height: 180px;
    height: 20vw;
}
.separa{
    color: black;
    border: 1px solid black;
    width: 30%;
    margin: 2% auto;
}
.municipio{
    padding-bottom: 5%;
}
.tableInfo{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.tableInfo h1{
    margin-left: 5%;
}
.historia h1{
    margin-left: 3%;
}
.historia{
    text-align: justify;
    width: 80%;
    margin: auto;
}
.fiestasImg{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.festividades{
    width: 30%;
    min-width: 300px;
    margin: 2% 0;

}

.festividades img{
    width: 100%;
    border-radius: 20px;

}
.festividades img:hover{
    border: 5px solid black;
}
.festividades:hover{
    transform: scale(1.1);
    
    border-radius: 20px;
    
}

.titulo{
    font-weight: 900;
    font-size: 5em;
}


