<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <table>
        <tbody>
            <tr class="impares">
                <td colspan="2"  ><center><h1>Cascadas de la María</h1></center></td>    
            </tr>
            <tr class="impares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
            </tr>
            <tr class="impares">
                <td>este es uno</td>
                <td>este es otro</td>
            </tr>
          
            <tr class="pares">
                <td colspan="2"><center><h1>Cascadas La Holanda</h1></center></td>    
                </tr>
                <tr class="pares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
                </tr>
            <tr class="pares">
                <td>este es uno</td>
                <td>este es otro</td>
            </tr>             

            <tr class="impares">
                <td colspan="2"><center><h1><span style="color: #741b47;">Cascadas La Chorrera</span></h1></center></td>
            </tr>
            <tr class="impares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
            </tr>
            <tr class="impares">
                <td>
                    <b>
                        <u>
                            <span style="color: #ffa400;">Atractivos:</span>
                        </u>
                    </b>
                    <br />
                    <ul>
                        <li>Cadena de Cascadas la María.</li>
                        <li>Avistamiento de Aves.</li>
                        <li>Fauna y Flora Narivos.</li>
                        <li>Mirador la María.</li>
                    </ul>
                    <div>
                        <div>
                            <b>
                                <u>
                                    <span style="color: #04ff00;">Incluye:</span>
                                </u>
                            </b>
                        </div>
                        <div>
                            <ul>
                                <li>Guia Local.</li>
                                <li>Fotografías.</li>
                                <li>Seguro Médico.</li>
                                <li>Ingreso a Predios Privados.</li>
                                <li>Transporte Local.</li>
                            </ul>
                        </div>
                    </div>
                </td>
              
                <td><b><u><span style="color: #ffa400;">Sobre el recorrido:</span></u></b><br /><ul><li>Dificultad: 2,5 (Con <br />pendientes inclinadas).</li><li>Distancia: 3 km.</li><li>Duracción Aprox: 3 Horas.<br /></li></ul><div><b><u><span style="color: #04ff00;">Recomandaciones:&nbsp;</span></u></b></div><ul><li>Usar Repelente.</li><li>Usar Ropa y Calzado Cómodos.</li><li>Usar Guantes.</li><li>Levar Ropa de Cambio.<br /></li><li>Usar Bloqueador Solar.</li></ul></td>
            </tr>
          
            <tr class="pares">
                <td colspan="2"><center><h1>Ruta de la Energia</h1></center></td>    
                </tr>
                <tr class="pares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
                </tr>
            <tr class="pares">
                <td>este es uno</td>
                <td>este es otro</td>
            </tr>             

            <tr class="impares">
                <td colspan="2"><center><h1><span style="color: #741b47;">Tenche</span></h1></center></td>
            </tr>
            <tr class="impares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
            </tr>
            <tr class="impares">
                <td>
                    <b>
                        <u>
                            <span style="color: #ffa400;">Atractivos:</span>
                        </u>
                    </b>
                    <br />
                    <ul>
                        <li>Cadena de Cascadas la María.</li>
                        <li>Avistamiento de Aves.</li>
                        <li>Fauna y Flora Narivos.</li>
                        <li>Mirador la María.</li>
                    </ul>
                    <div>
                        <div>
                            <b>
                                <u>
                                    <span style="color: #04ff00;">Incluye:</span>
                                </u>
                            </b>
                        </div>
                        <div>
                            <ul>
                                <li>Guia Local.</li>
                                <li>Fotografías.</li>
                                <li>Seguro Médico.</li>
                                <li>Ingreso a Predios Privados.</li>
                                <li>Transporte Local.</li>
                            </ul>
                        </div>
                    </div>
                </td>
              
                <td><b><u><span style="color: #ffa400;">Sobre el recorrido:</span></u></b><br /><ul><li>Dificultad: 2,5 (Con <br />pendientes inclinadas).</li><li>Distancia: 3 km.</li><li>Duracción Aprox: 3 Horas.<br /></li></ul><div><b><u><span style="color: #04ff00;">Recomandaciones:&nbsp;</span></u></b></div><ul><li>Usar Repelente.</li><li>Usar Ropa y Calzado Cómodos.</li><li>Usar Guantes.</li><li>Levar Ropa de Cambio.<br /></li><li>Usar Bloqueador Solar.</li></ul></td>
            </tr>
          
            <tr class="pares">
                <td colspan="2"><center><h1>Cascadas Escondida</h1></center></td>    
                </tr>
                <tr class="pares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
                </tr>
            <tr class="pares">
                <td>este es uno</td>
                <td>este es otro</td>
            </tr>             

            <tr class="impares">
                <td colspan="2"><center><h1><span style="color: #741b47;">Anillo Vial</span></h1></center></td>
            </tr>
            <tr class="impares">
                <td colspan="2"><img src="https://firebasestorage.googleapis.com/v0/b/caroltur-2023.appspot.com/o/portafolio%2Fcavernas%2Fcavernas1.jpeg?alt=media&amp;token=c1a46922-acf4-4a8b-a655-895fa23ad034" style="width: 100%;" width="200" /></td>
            </tr>
            <tr class="impares">
                <td>
                    <b>
                        <u>
                            <span style="color: #ffa400;">Atractivos:</span>
                        </u>
                    </b>
                    <br />
                    <ul>
                        <li>Cadena de Cascadas la María.</li>
                        <li>Avistamiento de Aves.</li>
                        <li>Fauna y Flora Narivos.</li>
                        <li>Mirador la María.</li>
                    </ul>
                    <div>
                        <div>
                            <b>
                                <u>
                                    <span style="color: #04ff00;">Incluye:</span>
                                </u>
                            </b>
                        </div>
                        <div>
                            <ul>
                                <li>Guia Local.</li>
                                <li>Fotografías.</li>
                                <li>Seguro Médico.</li>
                                <li>Ingreso a Predios Privados.</li>
                                <li>Transporte Local.</li>
                            </ul>
                        </div>
                    </div>
                </td>
              
                <td><b><u><span style="color: #ffa400;">Sobre el recorrido:</span></u></b><br /><ul><li>Dificultad: 2,5 (Con <br />pendientes inclinadas).</li><li>Distancia: 3 km.</li><li>Duracción Aprox: 3 Horas.<br /></li></ul><div><b><u><span style="color: #04ff00;">Recomandaciones:&nbsp;</span></u></b></div><ul><li>Usar Repelente.</li><li>Usar Ropa y Calzado Cómodos.</li><li>Usar Guantes.</li><li>Levar Ropa de Cambio.<br /></li><li>Usar Bloqueador Solar.</li></ul></td>
            </tr>
          
            
        </tbody>
    </table>
</body>
</html>